<ul class="timeline">
    <li class="my-3 event cursor-pointer" data-date="2019" (click)="openWorkDetail('work-detail5', 'chevron5')">
        <span class="expand-detail-icon"><fa-icon [icon]="faChevronCircleDown" id="chevron5"></fa-icon></span>
        <span class="text-purple">{{ 'Senior Software Engineer' }}</span> {{ 'at' }} <span class="text-reali">Cognizant</span> ({{ 'March' | translate }} 2019 - {{ 'Present' | translate}})
        <ul class="d-none work-description mt-2" id="work-detail5">
            <li>{{ 'AboutDescription.Reali1' | translate }}</li>
            <li>{{ 'AboutDescription.Reali2' | translate }}</li>
            <li>{{ 'AboutDescription.Reali3' | translate }}</li>
            <li>{{ 'AboutDescription.Reali4' | translate }}</li>
        </ul>
    </li>
    <!-- <li class="my-3 event cursor-pointer" data-date="2022" (click)="openWorkDetail('work-detail4', 'chevron4')">
        <span class="expand-detail-icon"><fa-icon [icon]="faChevronCircleDown" id="chevron4"></fa-icon></span>
        <span class="text-purple">{{ 'System Analyst' | translate }}</span> {{ 'at' | translate }} <span class="text-rpc">RPC - Rede Paranaense de Comunicação</span> ({{ 'January' | translate }} 2022 - {{ 'August' | translate}} 2023)
        <ul class="d-none work-description mt-2" id="work-detail4">
            <li>{{ 'AboutDescription.RPC1' | translate }}</li>
            <li>{{ 'AboutDescription.RPC2' | translate }}</li>
        </ul>
    </li> -->
    <li class="my-3 event cursor-pointer" data-date="2017" (click)="openWorkDetail('work-detail3', 'chevron3')">
        <span class="expand-detail-icon"><fa-icon [icon]="faChevronCircleDown" id="chevron3"></fa-icon></span>
        <span class="text-purple">{{ 'Full Stack Developer' }}</span> {{ 'at' }} <span class="text-dbm">Toptal</span> ({{ 'March' }} 2017 - {{ 'February' }} 2019)
        <!-- <ul class="d-none work-description mt-2" id="work-detail3">
            <li>{{ 'AboutDescription.DBM1' | translate }}</li>
            <li>{{ 'AboutDescription.DBM2' | translate }}</li>
        </ul> -->
    </li>
    <li class="my-3 event cursor-pointer" data-date="2016" (click)="openWorkDetail('work-detail2', 'chevron2')">
        <span class="expand-detail-icon"><fa-icon [icon]="faChevronCircleDown" id="chevron2"></fa-icon></span>
        <span class="text-purple">{{ 'Front End Developer'  }}</span> {{ 'at' }} <span class="text-success">Toptal</span> ({{ 'January' }} 2016 - {{ 'March' }} 2017)
        <!-- <ul class="d-none work-description mt-2" id="work-detail2">
            <li>{{ 'AboutDescription.Esal1' | translate }}</li>
            <li>{{ 'AboutDescription.Esal2' | translate }}</li>
        </ul> -->
    </li>
    <li class="my-3 event cursor-pointer" data-date="2012" (click)="openWorkDetail('work-detail1', 'chevron1')">
        <span class="expand-detail-icon"><fa-icon [icon]="faChevronCircleDown" id="chevron1"></fa-icon></span>
        <span class="text-purple"></span>  <span class="text-danger">Hong Kong University of Science and Technology</span> ({{ 'Auguest' }} 2011 - {{ 'November' }} 2015)
        <ul class="d-none work-description mt-2" id="work-detail1">
            <li>{{ 'AboutDescription.hkust1' | translate }}</li>
            <li>{{ 'AboutDescription.hkust2' | translate }}</li>
        </ul>
    </li>
</ul>
